div {
    text-align: center;
}
nav {
    
    text-decoration: darkmagenta;
    
}
a:hover
{
    color: rgb(46, 240, 21);
}

footer {
    
     
    
    text-align: center;
}

section {
   text-align: center;
  
}
.logo {
    text-align:center ; 
    size: 0rem;   
}




.games{
    text-decoration-color: darkgrey;
}
.nav1{
    text-align:center;
    text-size-adjust: 500px;
}
.nav2{
text-align: right;
}

body{
    background: url(bkg.jpg)  no-repeat fixed center;
    background-size: 100%;
}
a{
    color: rgb(224, 181, 7);
}
fieldset{
    background: url(bgfield.jpg) no-repeat ;
    
}
p{
    color: blanchedalmond;
}
legend{
    color: rgb(224, 181, 7);
}